<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyBasket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>name</param-name>
    <param-value>My Basket Shoppy</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SearchProducts</display-name>
    <servlet-name>SearchProducts</servlet-name>
    <servlet-class>com.github.SearchProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProducts</servlet-name>
    <url-pattern>/searchProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerarchProducts</display-name>
    <servlet-name>SerarchProducts</servlet-name>
    <servlet-class>com.github.SerarchProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerarchProducts</servlet-name>
    <url-pattern>/searchProductServlet</url-pattern>
  </servlet-mapping>
</web-app>